header {
  background: $grey;

  nav {
    @include grid-row;
    padding: $column-gutter/2;

    h1 {
      float: left;
      margin: 0;

      line-height: 0;

      a {
        @include hide-text;

        display: inline-block;
        width: 220px;
        height: 90px;
        @include image-2x("logo");

        @media #{$small-only} {
          width: 80px;
          height: 30px;
          @include image-2x("logo_mobile");
        }
      }
    }
    ul {
      float: right;
      list-style-type: none;
      margin: 0;
      padding: 0;

      &.open li {
        display: block;
      }

      li {
        display: inline-block;
        padding: 30px 0;


        &.menu-toggle {
          display: block;

          a:before {
            @include icon("\f0c9"); // fa-bars
            color: #fff;
          }
          @media #{$medium-up} {
            display: none;
          }
        }

        @media #{$small-only} {
          display: none;
          padding: 0;
        }

        a {
          display: inline-block;
          line-height: 30px;
          padding: 0 1rem;
          color: #fff;

          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }
}
