// Libraries
@import "compass";
@import "foundation";
@import "font-awesome";
@import "fancybox/jquery.fancybox.css";

// Mixins
@import "mixins";

// Variables
$yellow: #fabb0f;
$dark-yellow: #b48504;
$grey: #414142;

// Frame
@import "header";
@import "footer";
@import "elements";

// Pages
@import "pages/home";
@import "pages/projects";
@import "pages/about";
@import "pages/news";
@import "pages/contact";
@import "pages/residential";
