section
  .columns.medium-6
    h1 Horticultural

    p We have proudly partnered with Acrobat Controls to form Acrobat Projects.

    p= link_to image_tag("memberships/images_memberships_ap.png"), 'http://www.acrobatcontrols.com/projects.htm', target: '_blank'

    p Beginning in Holland we at Verhoef Electric have prided ourselves in the
      fact that we are part of the growing and robust industry of horticulture.
      We are a company that understand the unique needs of the horticulture
      business.  We offer electrical solutions independent of a specific
      automation system and with the back ground in commercial construction offer
      greenhouse customers on time and on budget projects that meet every need.
      If you are looking for a complete automation solution we also offer custom
      solutions with  our team of companies called Acrobat Projects.  Which is
      made up of an excellent team of panel builders, engineers, CAD/ Design, and
      the complete electrical solution through out North America. 

  .columns.medium-6
    ul.small-block-grid-4
      - Dir.foreach('./source/images/horti') do |image|
        - next unless image.end_with?('.jpg')
        li= link_to image_tag("/images/horti/#{image}"), "/images/horti/#{image}", class: 'fancybox', rel: 'group'

section
  .columns.medium-12
    h1 Some of Our Horticultural Clients
    ul.small-block-grid-8
      ruby:
        client_links = [
          ['acrobat', 'http://www.acrobatcontrols.com'],
          ['bayviewflowers', 'http://www.bayviewflowers.com/'],
          ['ceegreen', 'http://ceegreen.ca/'],
          ['creekside', 'http://www.creeksidegreenhouses.ca/'],
          ['id3', 'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=6&cad=rja&uact=8&ved=0ahUKEwic-sDDxcfKAhVHyYMKHSLRDSUQFgg7MAU&url=http%3A%2F%2Fwww.ic.gc.ca%2Fapp%2Fccc%2Fsrch%2Fnvgt.do%3Bjsessionid%3D0001JUbcMinI58ONm8ZSIOdyKOB%3A-44DMJN%3Flang%3Deng%26prtl%3D1%26sbPrtl%3D%26estblmntNo%3D234567119558%26profile%3DcmpltPrfl%26profileId%3D2059%26app%3Dsold%26searchNav%3DF&usg=AFQjCNFNrfbI5S02An2zrlTZW5wlvA-urQ&sig2=XLsByA3PGYiHOn20PczHQA'],
          ['ispecs', 'http://ispecs.ca/'],
          ['linwell', 'http://linwellgardens.com/'],
          ['cem', 'http://www.cemeng.ca/'],
          ['paulboers', 'http://www.paulboers.com/'],
          ['prins', 'http://www.prinsgrow.com/index2.php'],
          ['schenck', 'http://www.schenckfarms.com/'],
          ['springvalley', 'http://www.springvalleygardens.ca/']
        ]
      - client_links.each do |client, link|
        li= link_to image_tag("clients/images_clientlogos_#{client}.jpg"), link, target: '_blank'
