---
title: Welcome to Middleman
---

section.cover
  h1 The recommended choice for reliable, professional, and quality electrical services.

section.cta
  a.button href="/contact" Get in touch!

section.services
  section.residential
    h1 Residential
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt ipsum id tortor scelerisque, ac scelerisque neque rutrum. Nunc non tortor at quam sollicitudin euismod ac at nisi. Donec posuere tempor justo, interdum pharetra enim varius a. Aenean ut odio nisi. Vestibulum sed nulla enim.
  section.commercial
    h1 Commercial
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt ipsum id tortor scelerisque, ac scelerisque neque rutrum. Nunc non tortor at quam sollicitudin euismod ac at nisi. Donec posuere tempor justo, interdum pharetra enim varius a. Aenean ut odio nisi. Vestibulum sed nulla enim.
  section.industrial
    h1 Industrial
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt ipsum id tortor scelerisque, ac scelerisque neque rutrum. Nunc non tortor at quam sollicitudin euismod ac at nisi. Donec posuere tempor justo, interdum pharetra enim varius a. Aenean ut odio nisi. Vestibulum sed nulla enim.
