section
  h1 News
  ruby:
    news = [
      [
        "January 2016 - Completion of Bio-digester installation at Bayview Flowers, Jordan Station, ON",
        "http://www.bayviewflowers.com/"
      ],
      [
        "January 2016 - Completion of Retrofit lighting at Floralane Produce, Elmira, ON",
        "http://www.therecord.com/news-story/4477878-elmira-s-own-tomatoes-give-family-farm-its-niche/"
      ],
      [
        "December 2015 - Completion of phase 1 at Harbour Estates Winery, Jordan Station, ON",
        "http://www.hewwine.com/about%20us.htm"
      ],
      [
        "November 2015 - St. Louis Bar and Grill, St. Catharines, ON",
        "http://stlouiswings.com/restaurant/st-catharines/"
      ],
      [
        "November 2015 - Completion of addition at Smithville Christian High School, Smithville, ON",
        "http://smithvillechristian.ca/index.php?/home"
      ],
      [
        "October 2015 - Acrobat Projects collaborate in Quebec",
        "http://www.hortidaily.com/article/21449/Canada-A-lot-of-progress-going-on-at-Les-Serres-St%C3%A9phane-Bertrand"
      ],
      [
        "October 2015 - Acrobat Projects Team at Canadian Greenhouse Conference",
        "http://www.hortidaily.com/photoalbum/PAViewPhoto.asp?ID=8438&AlbumID=69&photo=32&array_pos="
      ],
      [
        "September 2015 - Completion of phase 1 - West Niagara Fairgrounds, Grassie, ON",
        "http://www.westniagarafair.ca/site/home"
      ],
      [
        "June 2015 - Electrical Installation in expanded Greenhouse",
        "http://www.hortidaily.com/article/18763/W.Martens-plants-new-crop-in-upgraded-and-expanded-Beamsville-greenhouses"
      ],
      [
        "May 2015 - Completion of Vine Fresh Acres Greenhouses, Leamington, ON",
        "http://www.hortidaily.com/article/18619/The-crop-is-in-control-at-Vine-Fresh-Acres-in-Leamington"
      ],
      [
        "May 2015 - Completion of new Fedex Shipping & Sorting center, Grimsby, ON",
        "http://www.fedex.com/ca_english/"
      ],
      [
        "January 2015 - Acrobat Controls and Verhoef Electric Merge",
        "http://www.hortidaily.com/article/14178/Canada-Acrobat-Controls-and-Verhoef-Electric-merge-to-Acrobat-Projects"
      ]
    ]

  ul
    - news.each do |title, link|
      li
        = title
        br
        = link_to "Read more", link, target: "_blank"
