section
  h1 News
  ul
  	li January 2016 - Completion of Bio-digester installation at Bayview Flowers, Jordan Station, ON<br><a href="http://www.bayviewflowers.com/">Read more</a>

	li January 2016 - Completion of Retrofit lighting at Floralane Produce, Elmira, ON<br><a href="http://www.therecord.com/news-story/4477878-elmira-s-own-tomatoes-give-family-farm-its-niche/">Read more</a>

	li December 2015 - Completion of phase 1 at Harbour Estates Winery, Jordan Station, ON<br><a href="http://www.hewwine.com/about%20us.htm">Read more</a>

	li November 2015 - St. Louis Bar and Grill, St. Catharines, ON<br><a href="http://stlouiswings.com/restaurant/st-catharines/">Read more</a>

	li November 2015 - Completion of addition at Smithville Christian High School, Smithville, ON<br><a href="http://smithvillechristian.ca/index.php?/home">Read more</a>

	li October 2015 - Acrobat Projects collaborate in Quebec<br><a href="http://www.hortidaily.com/article/21449/Canada-A-lot-of-progress-going-on-at-Les-Serres-St%C3%A9phane-Bertrand">Read more</a>

	li October 2015 - Acrobat Projects Team at Canadian Greenhouse Conference<br><a href="http://www.hortidaily.com/photoalbum/PAViewPhoto.asp?ID=8438&AlbumID=69&photo=32&array_pos=">Read more</a>

	li September 2015 - Completion of phase 1 - West Niagara Fairgrounds, Grassie, ON <br><a href="http://www.westniagarafair.ca/site/home">Read more</a>

	li June 2015 - Electrical Installation in expanded Greenhouse<br><a href="http://www.hortidaily.com/article/18763/W.Martens-plants-new-crop-in-upgraded-and-expanded-Beamsville-greenhouses">Read more</a>

	li May 2015 - Completion of Vine Fresh Acres Greenhouses, Leamington, ON<br><a href="http://www.hortidaily.com/article/18619/The-crop-is-in-control-at-Vine-Fresh-Acres-in-Leamington">Read more</a>

	li May 2015 - Completion of new Fedex Shipping & Sorting center, Grimsby, ON<br><a href="http://www.fedex.com/ca_english/">Read more</a>

	li January 2015 - Acrobat Controls and Verhoef Electric Merge<br><a href="http://www.hortidaily.com/article/14178/Canada-Acrobat-Controls-and-Verhoef-Electric-merge-to-Acrobat-Projects">Read more</a>